@import "//utils/_mixin.scss";

.header {
  display: flex;
  flex-direction: column;
 background-image: url(/assets/img/header-banner.png);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center center;
 height: 1130px;



}



.header__box {
display: flex;
align-items:center;
justify-content: space-between;
   border-bottom: 2px solid #D0C7C7;
   padding-bottom: 5px;
   margin-bottom: 152px;
}

.logo {
  display: flex;
  align-items:center;
  gap: 20px;
}

.logo-text{
  display: inline-block;
font-weight: bold;
font-size: 46px;
color:$bodyItemTextColor;
align-self: flex-end;
}
.header__nav {
  align-self:flex-end;
}
.header__list {
  display: flex;
  align-items:center;
  list-style: none;
  gap: 20px;

}


.header__item {
  display: flex;
 gap: 10px;
 align-items:center;
 border: 2px solid  transparent;
   border-radius: 12px;
  padding: 0 10px;
  transition: border 0.4s ease,
   box-shadow 0.4s ease;

    &:first-child::before{
       @include psevdoClass($img:url(/assets/icon/icon-way.svg));

   }

   &:nth-child(2)::before{
     @include psevdoClass($img:url(/assets/icon/icon-cta.svg));
   }

    &:nth-child(3)::before{
      @include psevdoClass($img: url(/assets/icon/icon-man.svg));
    }


    &:hover{
      border: 2px solid #f6c85d;
      box-shadow: 0 8px 20px rgb(255, 255, 255,0.7);
    }
}



.header__link {
  display:block;
  text-decoration: none;
  color:$bodyItemTextColor;
  font-size: 24px;
  font-weight: 500;
   padding-top: 10px;
   padding-bottom: 10px;



}
.header__info {
  display: flex;
  flex-direction: column;
  align-self:center;
  text-align: center;
}
.header__heading {
  font-weight: 700;
  font-size: 120px;
  color:$bodyItemTextColor;
}
.header__subtitle {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 86px;
  color:$bodyItemTextColor;
}
.list {
  display: grid;
   grid-template-columns: repeat(5, 180px);
   grid-auto-rows: 66px;
   list-style: none;
   gap: 20px;
   align-self: center;
   margin-bottom: 36px;
}
.list__item {
  padding: 20px 40px;
  background-color: $cardsColor;
  border-radius:10px;
  text-transform: uppercase;
    transition: opacity 0.4s ease;
  &:hover{
    cursor: pointer;
    opacity: 0.7;
  }
}
.list__link {
  text-decoration: none;
  color:$bodyTextColor;
  font-weight: 700;
}
.form {
  margin-bottom: 140px;
}
.form__list {
  display: flex;
  list-style: none;
  align-items:center;
  gap: 20px;


  .form__item:nth-child(1){
     width: 220px;
}
.form__item:nth-child(2){
 width: 220px;
}
      .form__item:nth-child(3){
        display: flex;
        flex-direction:column;
           @include input;
           align-self: flex-end;

            select{
              width: 100%;
            }
      }
      .form__item:nth-child(4){
           @include input;
      }
      .form__item:nth-child(5){
           @include input;
      }
}
.form__item {
color:$bodyItemTextColor;
text-align: start;
      input{
        padding: 15px 10px;
          border: 0;
      }

      select{
        padding: 15px 10px;
        align-self: flex-end;
      }

      &:last-child{
        align-self: flex-end;

      }
}
.btn {
  padding: 16px 50px;
  color: $bodyTextColor;
  font-weight: 700;
  background-color: $btn-bgColor;
  border: 0;
  transition: opacity 0.4s ease;
  &:hover{
    opacity: 0.7;

  }
}
.header__footer {
  background-color: rgb(208, 199, 199,0.7);

}
.header__footer-box{
  display: flex;
  align-items:center;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 35px;
}
.header___footer-item {

       &:nth-child(1){

        padding: 10px;
          ::before {
            display: block;
            content: " ";
            width: 28px;
          height: 32px;
          background-image: url(/assets/icon/icon-earth.svg);
          background-repeat: no-repeat;
          background-size: cover;
          }
       }
       &:nth-child(2){

        padding: 10px;
          ::before {
            display: block;
            content: " ";
            width: 28px;
          height: 32px;
          background-image: url(/assets/icon/icon-checked.svg);
          background-repeat: no-repeat;
          background-size: cover;
          }
       }
       &:nth-child(3){

        padding: 10px;
          ::before {
            display: block;
            content: " ";
            width: 33px;
          height: 32px;
          background-image: url(/assets/icon/icon-student.svg);
          background-repeat: no-repeat;
          background-size: cover;

          }
       }

}
.header__footer_text {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}



// HERO STYLES


.hero {

}
.hero__box {
  padding-top: 180px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero__divider{
 height: 3px;
 width: 260px;
 background-color: $btn-bgColor;
 border:0;

}

.second__divider{
    width: 800px;
     height: 1px;
     background-color:rgb(224, 230, 232,0.7);
     border:0;
     margin-bottom: 60px;
   }
.hero__list {
  display: flex;
  list-style: none;
  gap: 38px;
}
.hero__item {
  width: 520px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 4px 0 rgb(0, 0, 0,0.25);
  flex-grow: 1;



  &:first-child::before{
    @include  heroBgIcon($img:url(/assets/icon/icon-ship.svg));

 }
  &:nth-child(2)::before{
    @include  heroBgIcon($img:url(/assets/icon/icon-aviator.svg));

 }
  &:last-child::before{
    @include  heroBgIcon($img:url(/assets/icon/icon-boat.svg));

 }

}
.hero__item-footer {
 padding: 48px 30px;



      & h3{
           font-weight: 700;
           margin-bottom: 10px;
      }
}
.hero__footer-text {
}



@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

  /* Retina-specific stuff here */
           .header{
            background-image: url(/assets/img/header-banner@2x.png);
           }
}